<% unless locals.empty? %>
  <%= message %>
<% end %>

<h1>Add a Project</h1>

<form action="/projects" method="post">
  <p><label for="project[name]">Name: </label><input type="text" name="project[name]" id="project_name"></p>
  <p><input type="submit" value="Create"></p>
</form>